
          <!-- <div class="publications">
            <h2>Publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
            
          </div> -->


          <div class="pubs">
            <h2>Publications</h2>
            <table>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J1]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/10032238">RIS Partitioning Based Scalable Beamforming Design for Large-Scale MIMO: Asymptotic Analysis and Optimization</a>," IEEE Transactions on Wireless Communications, Early Access.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J2]</b></td>
                <td><b>C. Cai</b>, X. Yuan, W. Yan, Z. Huang, Y. -C. Liang and W. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/9445025">Hierarchical Passive Beamforming for Reconfigurable Intelligent Surface Aided Communications</a>," IEEE Wireless Communications Letters, vol. 10, no. 9, pp. 1909-1913, Sept. 2021.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J3]</b></td>
                <td>H. Yang, <b>C. Cai</b>, X. Yuan, Y. -C. Liang, "<a href="https://ieeexplore.ieee.org/abstract/document/9384501">RIS-aided constant-envelope beamforming for multiuser wireless power transfer: A max-min approach</a>," China Communications, vol. 18, no. 3, pp. 80-90, March 2021.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J4]</b></td>
                <td><b>C. Cai</b>, H. Yang, X. Yuan, Y. -J. A. Zhang and Y. Liu, "<a href="https://ieeexplore.ieee.org/abstract/document/9306011">Reconfigurable Intelligent Surface Assisted D2D Underlay Communications: A Two-Timescale Optimization Design</a>," Journal of Communications and Information Networks, vol. 5, no. 4, pp. 369-380, Dec. 2020.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[C1]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/10001027">RIS Partitioning Based Scalable Beamforming Design for Large-Scale MIMO</a>," IEEE Global Communications Conference, 2022, pp. 2334-2339.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[C2]</b></td>
                <td><b>C. Cai</b>, H. Yang, X. Yuan and Y. -C. Liang, "<a href="https://ieeexplore.ieee.org/abstract/document/9322204">Two-Timescale Optimization for Intelligent Reflecting Surface Aided D2D Underlay Communication</a>," IEEE Global Communications Conference, 2020, pp. 1-6.</td>
              </tr>
              </table>
            
            <p></p>
            <h2>Services</h2>
            <table>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="120" style='font-size:90%'><b>Managing Editor</b></td>
                <td>IEEE Open Journal of the Communications Society</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="120" style='font-size:90%'><b>Reviewer</b></td>
                <td>WCM, JSAC, TWC, TCOM, TVT, OJ-COMS, GLOBECOM, ICCC ...</td>
              </tr>
              </table>
            <!-- {% if site.pubs != blank -%} 
            {%- assign pubs_size = site.pubs | size -%}
            <div class="table-responsive" {% if site.pubs_scrollable and pubs_size > 10 %}style="max-height: 20vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign pubs = site.pubs | reverse -%}
              {% if site.pubs_limit %}
              {% assign pubs_limit = site.pubs_limit %}
              {% else %}
              {% assign pubs_limit = pubs_size %}
              {% endif %}
              {% for item in pubs limit: pubs_limit %} 
                <tr>
                  <th scope="row">{{ "[2]" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="pubs-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No pubs so far...</p>
          {%- endif %}  -->
          </div>
