
          <!-- <div class="publications">
            <h2>Publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
            
          </div> -->


          <div class="pubs">
            <h2>Preprints</h2>
            <p></p>
            <table>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[P1]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://arxiv.org/abs/2408.17397">End-to-end learning for task-oriented semantic communications over MIMO channels: An information-theoretic framework</a>," major revision in IEEE Journal on Selected Areas in Communications, 2024.</td>
              </tr>
              </table>
            
            <p></p>
            <h2>Publications</h2>
            <p></p>
            <table>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J1]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/document/10689268">Multi-device task-oriented communication via maximal coding rate reduction</a>," IEEE Transactions on Wireless Communications, 2024.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J2]</b></td>
                <td>Y. Huang, <b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/document/10614888">Joint active and passive beamforming for RIS-aided semantic communication</a>," IEEE Transactions on Vehicular Technology, 2024.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J3]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/10032238">RIS partitioning based scalable beamforming design for large-scale MIMO: Asymptotic analysis and optimization</a>," IEEE Transactions on Wireless Communications, vol. 22, no. 9, pp. 6061-6077, Sept. 2023.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J4]</b></td>
                <td><b>C. Cai</b>, X. Yuan, W. Yan, Z. Huang, Y. -C. Liang and W. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/9445025">Hierarchical passive beamforming for reconfigurable intelligent surface aided communications</a>," IEEE Wireless Communications Letters, vol. 10, no. 9, pp. 1909-1913, Sept. 2021.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J5]</b></td>
                <td>H. Yang, <b>C. Cai</b>, X. Yuan, Y. -C. Liang, "<a href="https://ieeexplore.ieee.org/abstract/document/9384501">RIS-aided constant-envelope beamforming for multiuser wireless power transfer: A max-min approach</a>," China Communications, vol. 18, no. 3, pp. 80-90, March 2021.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[J6]</b></td>
                <td><b>C. Cai</b>, H. Yang, X. Yuan, Y. -J. A. Zhang and Y. Liu, "<a href="https://ieeexplore.ieee.org/abstract/document/9306011">Reconfigurable intelligent surface assisted D2D underlay communications: A two-timescale optimization design</a>," Journal of Communications and Information Networks, vol. 5, no. 4, pp. 369-380, Dec. 2020.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[C1]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "Deep unfolding based precoding for task-oriented semantic communications over MIMO channels," accepted by Asilomar Conference on Signals, Systems, and Computers, Pacific Grove, CA, USA, 2024.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[C2]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/10622706">Task-oriented communication for multi-device edge inference: A maximal coding rate reduction approach</a>," IEEE International Conference on Communications, Denver, CO, USA, 2024.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[C3]</b></td>
                <td><b>C. Cai</b>, X. Yuan and Y. -J. A. Zhang, "<a href="https://ieeexplore.ieee.org/abstract/document/10001027">RIS partitioning based scalable beamforming design for large-scale MIMO</a>," IEEE Global Communications Conference, Rio de Janeiro, Brazil, 2022, pp. 2334-2339.</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="40" style='font-size:90%'><b>[C4]</b></td>
                <td><b>C. Cai</b>, H. Yang, X. Yuan and Y. -C. Liang, "<a href="https://ieeexplore.ieee.org/abstract/document/9322204">Two-timescale optimization for intelligent reflecting surface aided D2D underlay communication</a>," IEEE Global Communications Conference, Taipei, Taiwan, 2020, pp. 1-6.</td>
              </tr>
              </table>
            
            <p></p>
            <h2>Services</h2>
            <p></p>
            <table>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="120" style='font-size:90%'><b>Managing Editor</b></td>
                <td>IEEE Open Journal of the Communications Society (2022-2023)</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="120" style='font-size:90%'><b>TPC Member</b></td>
                <td>VTC 2023-Fall, GLOBECOM 2024, VTC 2024-Fall</td>
              </tr>
              <tr>
                <td>&thinsp;</td>
                <td valign="top" width="120" style='font-size:90%'><b>Reviewer</b></td>
                <td>WCM, JSAC, TWC, TCOM, IOTJ, TVT, OJ-COMS, GLOBECOM, ICC ...</td>
              </tr>
              </table>
            <!-- {% if site.pubs != blank -%} 
            {%- assign pubs_size = site.pubs | size -%}
            <div class="table-responsive" {% if site.pubs_scrollable and pubs_size > 10 %}style="max-height: 20vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign pubs = site.pubs | reverse -%}
              {% if site.pubs_limit %}
              {% assign pubs_limit = site.pubs_limit %}
              {% else %}
              {% assign pubs_limit = pubs_size %}
              {% endif %}
              {% for item in pubs limit: pubs_limit %} 
                <tr>
                  <th scope="row">{{ "[2]" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="pubs-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No pubs so far...</p>
          {%- endif %}  -->
          </div>
